/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Padauk:wght@400;700&display=swap');

/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Merriweather', serif; */

/* Colors */
/* Primary Dark  293132 Charleston Green */
/* Secondary Dark 474044 Dark Liver */
/* Primary Brand 4F5165 Independence */
/* Secondary Brand 547AA5 Blue Yonder  */
/* Tertiary Brand 50D8D7 */


/* Special Paddings Margins Text Rules */

/* General */
html {
  scroll-behavior: smooth;
}

* {
    color: #293132;
    font-family: 'Roboto', sans-serif;
}

.hr-light {
    border-bottom: 1px solid #474044;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

.hr-heavy {
    border-bottom: 3px solid #474044;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.6);
}

/* General Button Styling */
.btn-primary {
    background-color: #547AA5 !important;
    color: #ffffff !important;
    border: 2px solid #474044 !important;
    box-shadow: 0 9px #999 !important;
    border-radius: 0.5rem !important;
}

.btn-primary:active {
    background-color: #47688c !important;
    color: #ffffff !important;
    border: 2px solid #474044 !important;
    box-shadow: 0 5px #666 !important;
    transform: translateY(4px);
}

.btn-primary:hover {
    background-color: #47688c !important;
    color: #ffffff !important;
    border: 2px solid #474044 !important;
    box-shadow: 0 9px #999 !important;
    border-radius: 0.5rem !important;
}

.btn-primary:focus {
    background-color: #47688c !important;
    color: #ffffff !important;
    border: 2px solid #474044 !important;
    box-shadow: 0 5px #666 !important;
    border-radius: 0.5rem !important;
}

/* Heading */

header {
    z-index: 99999;
}

#pre-header {
    background-color: rgba(255, 255, 255, 0.75);
}

#pre-header div div p{
    color: #547AA5;
    font-size: 100%;
    font-family: 'Padauk', sans-serif;
}

#pre-header div div p a {
    color: #547AA5;
    font-size: 100%;
    font-family: 'Padauk', sans-serif;
    text-decoration: none;
}

.main-header {
    background-color: #4F5165;
    margin: 0;
    padding: 0;
}

nav a {
    color: #293132;
}

.bg-nav {
    background-color: #4F5165;
    width: 100%;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
    border: 0;
}

.fa-bars {
    font-size: 2.5rem;
}

/* Main Sections */
.hero-image {
    padding-top: 5%;
    padding-bottom: 5%;
    background: url("../images/dimitry-anikin-ATyawSn-NsE-unsplash.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    transition: all 7s ease-in-out;
    -moz-transition: all 7s ease-in-out;
    -webkit-transition: all 7s ease-in-out;    
}

.jumbotron-hero {
    background: rgba(255, 255, 255, 0.75);
    margin: 1rem 2rem 1rem 2rem;
    padding: 1rem 2rem 1rem 2rem;
    border: 3px solid #474044;
    border-radius: 2rem;
}

.section-general {
    display: inline-block;
}

.ace-card {
    border: 0;
    outline: none;
}

.ace-card-body {
    border: 0;
    outline: none;
    /* Code for Shadow Generated by https://cssgenerator.org/box-shadow-css-generator.html  */
    box-shadow: 0 5px 7px 3px rgba(71,64,68,0.55);
    -webkit-box-shadow: 0 5px 7px 3px rgba(71,64,68,0.55);
    -moz-box-shadow: 0 5px 7px 3px rgba(71,64,68,0.55);
}

/*  Images and image titles */
.image-title {
    font-family: 'Roboto', sans-serif;
    font-size: 90%;
    color: #4F5165;
}

.bg-electrical-semi-panel {
    background: url("../images/electrical-semi-panel.jpg");
}

.bg-electrical-heavy-panel {
    background: url("../images/electrical-heavy-panel.jpg");
}

.bg-electrical-custom-panel {
    background: url("../images/electrical-custom-panel.jpg");
}

.bg-motion-motor-fan {
    background: url("../images/motion-motorfan.jpg");
}

.bg-motion-machine {
    background: url("../images/motion-machine.jpg");
}

.bg-image-standard {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 300px;
}

/* CONTACT FORM */
.jumbotron-contact {
    background: rgba(255, 255, 255, 0.9);
    margin: 1rem 2rem 1rem 2rem;
    padding: 1rem 2rem 1rem 2rem;
    border: 3px solid #474044;
    border-radius: 2rem;
}

.jumbotron-contact div label {
    font-weight: 500;
}

.bg-contact-form {
    background: url("../images/markus-spiske-kK7uPfb2YWU-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Hover.css */




/* Footer */
.footer-main-section {
    background-color: #293132;
}

.footer-main-section div div h4 {
    color: #547AA5;
    text-shadow: -1px 1px 1px rgba(0,0,0,0.6);
}

.footer-main-section div div h4 a {
    color: #547AA5;
    text-decoration: none;
}

.footer-main-section div div h4 a:hover {
    color: #7f9bbc;
}

.footer-main-section div div p {
    color: #CFCFCF;
    font-family: 'Padauk', sans-serif;
    font-size: 1em;
}

.footer-main-section div div ul {
    list-style: none;
    /*padding: 0 0 0 0;
    margin: 0;                                        For Simen review - these have been replaced with Bootstrap p- and m- classes*/
    color: #CFCFCF;
    background-color: #293132;
    font-family: 'Padauk', sans-serif;
    font-size: 1em;
}

.footer-main-section div div li {
    border-color: #293132;
    color: #CFCFCF;
    background-color: #293132;
    font-family: 'Padauk', sans-serif;
    font-size: 1em;
}

.footer-main-section div div li a{
    color: #547AA5;
    text-decoration: none;
    text-shadow: -1px 2px 2px rgba(0,0,0,0.6);
}

.footer-main-section div div li a:hover{
    color: #7f9bbc;
}

.footer-disclaimer {
    background-color: #CFCFCF;
    margin: 0;
}

/* Media Query */
