/*--------------------------------------------Fonts-----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Padauk:wght@400;700&display=swap');

/* font-family: 'Merriweather', serif;  */
/*font-family: 'Padauk', sans-serif;    */

/*--------------------------------------------Colors----------------------------------*/
/* Primary Dark  293132 Charleston Green */
/* Secondary Dark 474044 Dark Liver */
/* Primary Brand 4F5165 Independence */
/* Secondary Brand 547AA5 Blue Yonder  */
/* Tertiary Brand 50D8D7 */

.bg-footer {
    background-color: #293132;
    color: #A2BCE0;                 /*testhigh remove this*/
}

nav a {
    color: #293132;
}
/*--------------------------------------------Special Paddings Margins Text-----------*/
.pre-header div div {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    height: 20px;
}


/*--------------------------------------------General---------------------------------*/
p {
    color: #293132;
    font-family: 'Merriweather', serif;  
}

/*--------------------------------------------Heading---------------------------------*/
.pre-header {
    display: inline-block;
    height: auto;
}


.pre-header div div p{
    color: #547AA5;
    font-size: 80%;
    font-family: 'Padauk', sans-serif; 
}

.main-header {
    display: inline-block;
    height: 100px;
}

/*
.navbar {
    overflow: hidden;
    position: fixed;
    height: 120px;
    width:100%;
    top:0;
}*/

.home-header-background {
    background: url("../images/dimitry-anikin-ATyawSn-NsE-unsplash.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    transition: all 7s ease-in-out;
    -moz-transition: all 7s ease-in-out;
    -webkit-transition: all 7s ease-in-out;
}

nav a {
    color: #50D8D7;
    font-family: 'Padauk', sans-serif;
}

.bg-nav {
    background-color: rgba(29,31,32,0.75);
    width: 100%;
}

.logo-text {
    color: #50D8D7;
    font-family: 'Padauk', sans-serif;
    font-weight: 700;    
    font-size: 160%;
    text-shadow: 2px 2px #474044;
}
/*--------------------------------------------Main Sections-------------------------------*/
.section-general {
    display: inline-block;
}

/*--------------------------------------------Hover.css-------------------------------*/




/*--------------------------------------------Footer----------------------------------*/
.footer-section {
    background-color:#474044;
}




/*--------------------------------------------CONTACT FORM----------------------------*/



/*--------------------------------------------Media Query-----------------------------*/

