/*--- Fonts ---*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Padauk:wght@400;700&display=swap');

/* font-family: 'Merriweather', serif; */
/* font-family: 'Padauk', sans-serif; */

/*--- Colors ---*/
/* Primary Dark  293132 Charleston Green */
/* Secondary Dark 474044 Dark Liver */
/* Primary Brand 4F5165 Independence */
/* Secondary Brand 547AA5 Blue Yonder  */
/* Tertiary Brand 50D8D7 */




/*--- Special Paddings Margins Text Rules ---*/
* {
  margin: 0;
  padding: 0;
}

.hr {
    width: 100%;
    border-top: 1px solid #474044;
}

/*--- General ---*/
p {
    color: #293132;
    font-family: 'Merriweather', serif;  
}

/*--- Heading ---*/

#pre-header div div p{
    color: #547AA5;
    font-size: 100%;
    font-family: 'Padauk', sans-serif;
}

#pre-header div div p a {
    color: #547AA5;
    font-size: 100%;
    font-family: 'Padauk', sans-serif;
    text-decoration: none;
}

.main-header {
    background-color: #4F5165;
    margin: 0px;
    padding: 0px;
}

nav a {
    color: #293132;
}

.bg-nav {
    background-color: #4F5165;
    width: 100%;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
    border: 0px;
}

.fa-bars {
    font-size: 2.5rem;
}
/*--- Main Sections ---*/
.hero-image {
    padding-top: 5%;
    padding-bottom: 5%;
    background: url("../images/dimitry-anikin-ATyawSn-NsE-unsplash.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    transition: all 7s ease-in-out;
    -moz-transition: all 7s ease-in-out;
    -webkit-transition: all 7s ease-in-out;    
}

.jumbotron-hero {
    background: rgba(255, 255, 255, 0.75);
    margin: 1rem 2rem 1rem 2rem;
    padding: 1rem 2rem 1rem 2rem;
    border: 3px solid #474044;
    border-radius: 2rem;
}

.section-general {
    display: inline-block;
}

.bg-wiring {
    background: url("../images/markus-spiske-kK7uPfb2YWU-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-electrical-1 {
    background: url("../images/electrical-semi-panel.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 300px;    
}

.bg-electrical-2 {
    background: url("../images/electrical-heavy-panel.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 300px;   
}


/*--- CONTACT FORM ---*/
.jumbotron-contact {
    background: rgba(255, 255, 255, 0.9);
    margin: 1rem 2rem 1rem 2rem;
    padding: 1rem 2rem 1rem 2rem;
    border: 3px solid #474044;
    border-radius: 2rem;
}

.jumbotron-contact div label {
    font-weight: 500;
}


/*--- Hover.css ---*/




/*--- Footer ---*/
.footer-main-section {
    background-color: #293132;
    /*margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 10px;*/
}

.footer-main-section div div h4 {
    color: #547AA5;
}

.footer-main-section div div p {
    color: #CFCFCF;
    font-family: 'Padauk', sans-serif;
    font-size: 1em;
}

.footer-main-section div div ul {
    list-style: none;
    /*padding: 0px 0px 0px 0px;
    margin: 0px;                                        For Simen review - these have been replaced with Bootstrap p- and m- classes*/
    color: #CFCFCF;
    background-color: #293132;
    font-family: 'Padauk', sans-serif;
    font-size: 1em;
}

.footer-main-section div div li {
    /*padding: 0px 0px 0px 0px;
    margin: 0px;                                        For Simen review - these have been replaced with Bootstrap p- and m- classes*/
    border-color: #293132;
    color: #CFCFCF;
    background-color: #293132;
    font-family: 'Padauk', sans-serif;
    font-size: 1em;
}

.footer-disclaimer {
    background-color: #CFCFCF;
    margin: 0px;
}



/*--- Media Query ---*/


/*-- Testing - TO BE DELETED  --*/

.test-bg-yellow {
    background-color: yellow;
    padding: 0;
    margin: 0;
    border: 1px solid #474044; 
}

.test-bg-red {
    background-color: red;
    padding: 0;
    margin: 0;
    border: 1px solid #474044;
}

.test-bg-blue {
    background-color: blue;
    padding: 0;
    margin: 0;
    border: 1px solid #474044;
}